#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.question{
	font-size:22px;
	padding:5px;
	background-color:red;
	color:white;
}
.option, .message{
	font-size:18px;
	padding:2px;
	display:block;
	margin:2px;
}
.full-page{
	margin-top:20vh;
	padding:10vh;
	border: 2px solid red;
}
body{
	background-color:#9fff80;
}
#skip{
	text-align:center;
}
#loader{
	display:block;
}
button{
	width:120px;
	margin-left:calc(50% - 50px);
}
@media (max-width:767px){
	.full-page{
		margin-top:25vh;
		padding:2vh;
	}
}
