/*
@media screen and (max-resolution: 1.5dppx) {body{width:device-width; font-size:16px;}}
@media screen and (min-resolution: 1.5dppx) and (max-resolution: 2.5dppx) {body{width: calc(device-width / 2); font-size: 24px;}}
@media screen and (min-resolution: 2.5dppx) and (max-resolution: 4dppx) {body{width: calc(device-width / 3); font-size:24px;}}
@media screen and (min-resolution: 4dppx) and (max-resolution: 5dppx) {body{width: calc(device-width / 4); font-size:32px;}}
@media screen and (min-resolution: 5dppx) and (max-resolution: 6.5dppx) {body{width: calc(device-width / 5); font-size:48px;}}

@media screen and (max-resolution: 1.5dppx), 
screen and (min-resolution: 1.5dppx) and (max-resolution: 2.5dppx), 
screen and (min-resolution: 2.5dppx) and (max-resolution: 4dppx), 
screen and (min-resolution: 4dppx) and (max-resolution: 5dppx), 
screen and (min-resolution: 5dppx) and (max-resolution: 6.5dppx) 
{
*/
	header{position:fixed; left:0px; top:0px; right:0px; width:100vw; background-color:black; color:white;}

	#ahe_level{text-align:left;}
	#ahe_topic{text-align:center;}
	#ahe_route{text-align:right;}
	body{font-size:16px}
	main{position:static; text-align:justify;}
	table{width:100vw; padding-left:10px; padding-right:10px; background-color:black; color:white;}
	h1{font-size:1.2em; font-weight:bold; text-align:center; background-color:blue; color:yellow;}
	h2{font-size:1em; font-weight:bold; text-align:left;}
	h3{font-size:1em; text-decoration:underline; font-weight:normal; display:inline;}
	p.ahe_ref{text-align:right;}
	p.center{text-align:center;}

	footer{border-style:solid; border-width:2px; text-align:justify; position:static; padding: 5px 5px 5px 5px;}





