:root{
	--bg-color:#c6ffb3;
	--menu-color:red;
	--btn-unpressed:#ffb3b3;
	--btn-pressed:#990000;
}

body{
	font-size:14px;
	background-color:var(--bg-color);
}

main{
	padding-bottom:21mm;
}

blockquote{
	border-left:5px solid #2eb82e;
}
#begin-journey{background-color:var(--menu-color); color:white; position:fixed; width:100vw; z-index:1030; padding-top:5px;}
.page-details{
	background-color:var(--menu-color); 
	color:white; 
	position:fixed; 
	width:100vw; 
	z-index:1030; 
	margin-top:-20px; 
	font-size:14px;
	padding-left:0px;
	padding-right:0px;
}
.page-question{background-color:var(--menu-color); color:white; position:static; margin-top:19px; width:100%; z-index:1000;}
#ahe_level{text-align:center;}
#ahe_topic{text-align:center;}
#ahe_route{text-align:center;}

table{width:100vw; padding-left:10px; padding-right:10px; background-color:black; color:white;}
h1{text-align: center; font-size:18px; margin-top:0cm}
h2{font-size:1em; font-weight:bold; text-align:left;}
h3{font-size:1em; text-decoration:underline; font-weight:normal; display:inline;}
p.ahe_ref{text-align:right;}
p.center{text-align:center;}
p{text-align:justify;}

	
/*	main.long-line{margin-top:200px;}*/
/*	footer.long-line{margin-top:50px;}*/
	
main.main-title{margin-top:5vh;}
	/*footer.main-title{margin-top:50px;}*/
	
blockquote{font-size:14px}
math{font-family:Sans-serif; font-size:16px;}
	
	
@media (max-width:767px) {	
	footer{
		border-color:var(--menu-color);  
		text-align:left; 
		position:fixed; 
		bottom:1.8cm; 
		z-index:1050; 
		background-color:var(--btn-unpressed); 
		color:black; 
		overflow-y:scroll;
		height:0px;
		width:100vw;
		left:0vw;
		padding-right:15px;
		transition: height 0.2s;
		-webkit-transition: height 0.2s;
		border-top:solid 3mm #f00;
	}

	#follow-questions{
		height:auto;
		/*bottom:10px;
		width:95vw;
		left:2.5vw;*/
		display:block;
	}
	::-webkit-scrollbar {
	    width: 0px;  /* remove scrollbar space */
	    background: transparent;  /* optional: just make scrollbar invisible */
	}	
	

}
	

@media (min-width:520px)
{
	main.main-title{margin-top:50px;}
/*	footer.main-title{margin-top:50px;}*/
}

@media (min-width:768px)
{
	
	body{font-size:16px;}
	blockquote{font-size:16px;}
	main{position:static; background-color:var(--bg-color); color:black;}
	
	h1{text-align: center; font-size:24px; margin-top:0cm;}
/*	header{background-color:black; color:white; position:fixed;}*/
	.page-details{margin-top:0px; font-size:16px;}
	.page-question{background-color:var(--menu-color); color:white; position:fixed; margin-top:20px;}
	footer , footer.main-title{
		border-style:none; 
		border-width:0; 
		background-color:var(--btn-unpressed);
		text-align:left; 
		padding: 0px 10px 0px 10px; 
		z-index:900; 
		overflow:auto; 
		float:left;
		position:fixed;
		margin-right:5vw;
		top:15px;
		display:block;
		bottom:20px;
	}

	main.main-title{margin-top:50px;}
	footer.main-title{
		top:50px;
		bottom:30px;
		margin-top:20px;
	}
	main.long-line{margin-top:125px;}
	footer.long-line{
		margin-top:75px;
		height:70vh;
	}
	main.short-line{margin-top:70px;}
	footer.short-line{
		margin-top:60px;
		height:75vh;

	}
}

@media (max-width:1023px){
	#updates{
		border-style:none; 
		border-top:none; 
		border-color:black; 
		text-align:left; 
		position:static;  
		background-color:#eee; 
		color:black; 
		padding-top:10vh;
		overflow-y:scroll;
		padding-bottom:0;
		margin-bottom:0;
	}	
	#contributors{
		border-style:none; 
		border-top:none; 
		border-color:black; 
		text-align:left; 
		position:static;  
		background-color:#eee; 
		color:black; 
		overflow-y:scroll;
		padding-bottom:10vh;
		margin-bottom:0;
	}
}

@media (min-width:990px)
{
	/*main.short-line{margin-top:75px;}*/
/*	footer.short-line{margin-top:75px;}*/

	main.long-line{margin-top:75px;}
	footer.long-line{margin-top:75px;}
}

#bottom-bar{
	background-color:var(--menu-color);
	text-align:left;
	position:fixed;
	bottom:0;
	width:100vw;
	left:0vw;
	font-size:2.5vh;
	height:1.8cm;
}

#map-bar{
	background-color:var(--menu-color);
	text-align:left;
	position:fixed;
	bottom:0;
	width:100vw;
	left:0vw;
	font-size:3vh;
	height:1.8cm;
}

#follow-question-btn{
	background-color:var(--btn-unpressed);
	color:black;
	margin:2mm;
	border:solid 1px;
	border-radius:1mm;
	padding:1mm;
	margin-right:2vw;
	margin-left:2vw;
	width:76vw;
	height:1.4cm;
}

#map-menu-btn{
	background-color:var(--btn-unpressed);
	color:black;
	margin:2mm;
	border:solid 1px;
	border-radius:1mm;
	padding:1mm;
	margin-right:20vw;
	margin-left:20vw;
	width:60vw;
	height:1.4cm;
	text-align:center;
}

#fa-bars{
	background-color:var(--btn-unpressed);
	width:0.8cm;
	margin:1mm;
	border-radius:1.5mm;
}

#follow-question-btn:active, #map-button:active, #map-menu-btn:active{
	background-color:var(--btn-pressed);
	color:white;
}

#map-button{
	background-color:var(--btn-unpressed);
	text-align:center;
	border:solid 1px white;
	border-radius:1mm;
	margin:2mm;
	margin-left:2vw;
	margin-right:2vw;
	width:16vw;
	padding:1mm;
	height:1.4cm;
}

#fa-map-solid{
	background-color:var(--btn-unpressed); width:1cm; margin:1mm;
	border-radius:1.5mm;
}
#fa-question-circle{
	background-color:var(--btn-unpressed); width:1cm; margin:1mm;
	text-align:left;
	margin-right:2vw;
	border:solid 1px;
	border-radius:1.5mm;
	display:inline;
}
#fa-question-circle:active{
	background-color:#999;
}

@media (min-width:1024px){
	#updates{
		border-style:none; 
		border-top:none; 
		border-color:black; 
		border-width:20px; 
		text-align:left; 
		position:fixed;  
		z-index:1000; 
		background-color:#eee; 
		color:black; 
		overflow-y:scroll; 
		top:10vh;
		height:80vh;
		width:20vw;
		left:2.5vw;
	}
	#contributors{
		border-style:none; 
		border-top:none; 
		border-color:black; 
		border-width:20px; 
		text-align:left; 
		position:fixed;  
		z-index:1000; 
		background-color:#eee; 
		color:black; 
		overflow-y:scroll; 
		top:10vh;
		height:80vh;
		width:20vw;
		right:2.5vw;
	}
}

#follow-questions > a > p{
	margin-left:15px;
	border:1px solid red;
	margin-top:0;
	margin-bottom:0;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	text-align:center;
	color:black;
}

#follow-questions > a > p:active{
	background-color:var(--btn-pressed);
	color:white;
}

h2{
	background-color:var(--btn-unpressed);
	padding:5px;
	font-size:large;
}

#intro-img{
	height:70vh;
}
.modal-body{
	background-color:var(--btn-unpressed);
}

#asi-logo-img{
	height:70px;
	display:block;
	margin:auto;
}
#asi-logo{
	position:relative;
	text-align:center;
	background-color:var(--btn-unpressed);
}
